@import './content.scss';
@import './volunteers.scss';
@import './tracks.scss';
@import './sponsors.scss';
@import './static.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	height: 100vh;
	transition: transform 600ms cubic-bezier(0.85, 0.01, 0.3, 0.99);

	&.active {
		transform: translatey(-100vh);

		.grid,
		.overlaytest,
		#tv {
			transform: translatey(100vh);
		}

		&--2 {
			transform: translatey(-200vh);
			.grid,
			.overlaytest,
			#tv {
				transform: translatey(200vh);
			}
		}

		&--3 {
			transform: translatey(-300vh);
			.grid,
			.overlaytest,
			#tv {
				transform: translatey(300vh);
			}
		}

		&--4 {
			transform: translatey(-400vh);
			.grid,
			.overlaytest,
			#tv {
				transform: translatey(400vh);
			}
		}

		&--5 {
			transform: translatey(-500vh);
			.grid,
			.overlaytest,
			#tv {
				transform: translatey(500vh);
			}
		}
	}
}

.grid {
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	transition: transform 600ms cubic-bezier(0.85, 0.01, 0.3, 0.99);
}

.info div {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translatex(-50%) translatey(-50%);
	font-size: 15vw;
	text-align: center;
	opacity: 0;
	color: white;
	z-index: 2;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: default;
	}
}

.load {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	pointer-events: none;
	overflow: hidden;

	&.active {
		background-color: black;
	}

	h2 {
		opacity: 0;
		display: block;
		pointer-events: none;

		&.active {
			opacity: 1;
			pointer-events: default;
		}
	}
}


$start: 32600;
$between: 2100;
$load1Start: 2200ms;
$load2Start: 16500ms;

.more {
	opacity: 0;
	position: absolute;
	bottom: 60px;
	left: 50%;
	font-size: 3vw;
	transform: translatex(-50%);
	z-index: 2;
	cursor: pointer;
	color: white;
	transition: opacity 300ms ease-in-out;

	&.active {
		opacity: 1;
	}

	&__arrow {
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translatex(-50%) translatey(0px);
		animation: 2000ms more infinite ease-in-out;
	}
}

@keyframes more {
	0% {
		transform: translatex(-50%) translatey(0px);
	}

	25% {
		transform: translatex(-50%) translatey(-5px);
	}

	75% {
		transform: translatex(-50%) translatey(5px);
	}

	100% {
		transform: translatex(-50%) translatey(0px);
	}
};

body {
	font-family: 'Helvetica Neue';
}


.loader {
	display: block;
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 2100ms ease-in-out;
	pointer-events: none;

	&.hide {
		opacity: 0;
	}

	svg {
		display: block;
		position: relative;
		top: 50%;
		transform: translatey(-50%);
		width: 100%;
		stroke: white;
		stroke-width: 20px;
		fill: transparent;
		position: relative;
		stroke-dasharray: 9000px;
		stroke-dashoffset: 9000px;
		animation: 6000ms loader forwards;
	}

	&.rerun {
		svg {
			animation: 6000ms loader2 forwards;
		}
	}
}

@keyframes loader {
	0% {
		stroke-dashoffset: 9000px;
	}

	50% {
		stroke-dashoffset: 0px;
	}

	85% {
		stroke-dashoffset: 9000px;
	}
}

@keyframes loader2 {
	0% {
		stroke-dashoffset: 9000px;
	}

	100% {
		stroke-dashoffset: 0px;
	}
}

.sound {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 200;
	display: block;
	cursor: pointer;
	width: 40px;

	img {
		max-width: 100%;

		&:last-child {
			display: none;
		}
	}

	&.active {
		img {
			display: none;

			&:last-child {
				display: block;
			}
		}
	}
}

.glitch {
	position: relative;

	&::before,
	&::after {
		display: block;
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
	}

	&::before {
		left: 10px;
		text-shadow: -1px 0 red;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 1s infinite linear alternate-reverse;
	}

	&::after {
		left: -10px;
		text-shadow: -1px 0 blue;
		animation: glitch-anim 1s infinite linear alternate-reverse;
	}

	&--white {
		&::before,
		&::after {
			background-color: #fff;
		}
	}

	&--colored {
		&::before {
			color: #F276FF;
		}

		&::after {
			color: aqua;
		}
	}
}

.mainVideo {
	filter: blur(0px);
}

.blur {
	animation: blur-anim 1s ease-in-out;
}

.closer {
	transform: scale(1) translatex(-50%) translatey(-50%);
	transform-origin: center center;
	animation: closer 1500ms;
	animation-timing-function: steps(2);
}

.blink {
	animation: blink 1200ms;
	animation-timing-function: steps(1);
}

@keyframes glitch-anim {
  0% {
    clip: rect(304px, 9999px, 353px, 0); }
  10% {
    clip: rect(245px, 9999px, 140px, 0); }
  20% {
    clip: rect(48px, 9999px, 366px, 0); }
  30% {
    clip: rect(46px, 9999px, 379px, 0); }
  40% {
    clip: rect(10px, 9999px, 182px, 0); }
  50% {
    clip: rect(65px, 9999px, 104px, 0); }
  60% {
    clip: rect(197px, 9999px, 237px, 0); }
  70% {
    clip: rect(89px, 9999px, 134px, 0); }
  80% {
    clip: rect(337px, 9999px, 299px, 0); }
  90% {
    clip: rect(111px, 9999px, 7px, 0); }
  100% {
    clip: rect(193px, 9999px, 46px, 0); }
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	20% {
		transform: skew(5deg) translatex(-50%) translatey(-50%);
	}

	30% {
		opacity: 1;
		color: salmon;
	}

	50% {
		opacity: 1;
		color: navy;
		transform: skew(0deg) translatex(-50%) translatey(-50%);
	}

	75% {
		color: salmon;
	}

	100% {
		opacity: 1;
		color: black
	}
}

@keyframes closer {
	0% {
		transform: scale(1) translatex(-50%) translatey(-50%);
	}

	33% {
		transform: scale(2) translatex(-50%) translatey(-50%);
	}

	66% {
		transform: scale(3) translatex(-50%) translatey(-50%);
	}

	100% {
		transform: scale(1) translatex(-50%) translatey(-50%);
	}
}

@keyframes blur-anim {
	0% {
		filter: blur(0px);
	}

	50% {
		filter: blur(20px);
	}

	100% {
		filter: blur(0px);
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(#1a2a6c, #22afca, #0c75d7);

	&.yellow {
		animation: bgc 1500ms;
		animation-timing-function: steps(2);
		animation-delay: 10000ms;
	}
}

@keyframes bgc {
	0% {
		background-color: #53e4c0;
	}

	25% {
		background-color: yellow;
	}

	50% {
		background-color: red;
	}

	75% {
		background-color: blue;
	}

	100% {
		background-color: #53e4c0;
	}
}

.overlay.black {
	background: black;
}

.logo {
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 2100ms ease-in-out;
	top: 50%;
	transform: translatey(-50%);

	&.active {
		opacity: 1;
	}
}

.mainVideo {
	opacity: 0;
	transition: opacity 2100ms ease-in-out;
	width: auto;
	height: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;

	&.active {
		opacity: 1;
	}

	&.wubba {
		animation: wubba 2100ms;
		animation-timing-function: steps(1);
	}
}

@keyframes wubba {
	0% {
		transform: translatex(-50%) translatey(-50%) scale(1) rotate(0deg);
	}

	33% {
		transform: translatex(-50%) translatey(-50%) scale(1) rotate(45deg);
	}

	66% {
		transform: translatex(-50%) translatey(-50%) scale(1) rotate(-45deg);
	}

	80% {
		transform: scale(1.5) rotate(0deg);
	}

	100% {
		transform: scale(2) rotate(0deg);
	}
}

.overlaytest {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: transform 600ms cubic-bezier(0.85, 0.01, 0.3, 0.99);
	pointer-events: none;
	z-index: 3;
}

#tv {
	transition: transform 600ms cubic-bezier(0.85, 0.01, 0.3, 0.99);
	pointer-events: none;
}

.playTest,
.RePlayTest {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	width: 100%;
	text-align: center;
	z-index: 2;
	font-size: 40px;
	display: none;
	font-family: 'test';
	opacity: 0;
	animation: easeIn 2100ms ease-in-out forwards 3000ms;
	cursor: pointer;

	@media (max-width: 767px) {
		display: block;
	}

	&.hide {
		display: none !important;
	}
}

.RePlayTest {
	display: none;

	&.active {
		@media (min-width: 768px) {
			display: block;
		}
	}
}

@keyframes easeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
};
