.volunteers {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    &__each {
        width: 200px;
        height: 200px;
        margin-right: 15px;
        float: left;
        cursor: pointer;
        background: linear-gradient(#1a2a6c, #22afca, #0c75d7);

        img {
            width: 100%;
            height: 100%;
            opacity: .5;
            transition: opacity 300ms ease-in-out;
        }

        &.active {
            img {
                //mix-blend-mode: initial;
                opacity: 1;
            }
        }
    }

    &__wrap {
        overflow: scroll;
        height: 230px;
    }

    &__info {
        display: block;
        color: white;
        list-style: none;
        margin: 50px 0 0 0;
        text-align: center;
        padding: 0;
        position: relative;
        font-family: 'vcr';

        &__each {
            position: absolute;
            width: 100%;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms ease-in-out, visibility 0ms linear 300ms;

            &.active {
                transition: opacity 300ms ease-in-out, visibility 0ms linear 0ms;
                opacity: 1;
                visibility: visible;
            }

            h3 {
                font-size: 50px;
                margin-top: 0;

                @media (width: 767px) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 20px;
            }
        }
    }
}
